<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="chart3520.Properties.Settings.modelConnectionString"
            connectionString="Data Source=.;Initial Catalog=model;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="chart3520.Properties.Settings.chartConnectionString"
            connectionString="Data Source=.;AttachDbFilename=|DataDirectory|\chart.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>